<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.github.untactorder">

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
            android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            tools:ignore="AllowBackup">

        <activity
                android:name=".androidclient.KakaoLoginActivity"
                android:exported="true">
        </activity>

        <activity
                android:name=".androidclient.QrScanActivity"
                android:exported="false"/>
        <activity
                android:name=".androidclient.PasswordInputActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".androidclient.MenuSelectActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".androidclient.PersonalInfoConsentFormActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".androidclient.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".androidclient.MainActivity2"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.journeyapps.barcodescanner.CaptureActivity"
                android:screenOrientation="fullSensor"
                tools:replace="screenOrientation"/>
        <activity
                android:name=".androidclient.qr.CaptureActivityAnyOrientation"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>